beautifulsoup4==4.12.*
Django==5.1.*
requests==2.32.*
Pillow==10.*
epitran==1.*
python-dotenv==1.0.*
django-widget-tweaks==1.5.*
jamo==0.4.*
g2pk==0.9.*
panphon==0.20.*
query_and_cache @ git+ssh://git@github.com/taylorhmorris/query_and_cache.git@v0.0.3