beautifulsoup4==4.12.*
Django==5.1.*
requests==2.32.*
Pillow==10.*
epitran==1.*
python-dotenv==1.0.*
django-widget-tweaks==1.5.*
jamo==0.4.*
g2pk==0.9.*
panphon==0.20.*
pyquaca==0.0.4
storyqueries @ git+https://github.com/taylorhmorris/storyqueries.git@dev