{% extends "notemaker/components/modal_card.html" %}

{% block x-data-object %}
{ flipped: false}
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
<div class="flashcard">
  <div class="front" x-show="flipped == false">
  {% block front %}
  {% include "notemaker/cards/BasicNoteFront.html" %}
  {% endblock %}
  </div>

  <div class="back" x-show="flipped == true">
  {% block back %}
  {% include "notemaker/cards/BasicNoteBack.html" %}
  {% endblock %}
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'notemaker/rate_bar.html' %}
{% endblock %}


