{% extends "notemaker/cards/BasicNoteBase.html" %}
{% load static %}

{% block title %}
<span class="front" x-show="flipped == false">What does this word mean?</span>
<span class="front" x-show="flipped == true">It means...</span>
{% endblock %}

{% block front %}
<div class="has-text-centered">
  {% include "notemaker/utils/megaphone.html" with message=card.note.word %}
  <b>
    {{ card.note.word }}
  </b>
  {% include "notemaker/utils/ipa.html" with ipa=card.note.ipa %}
</div>
{% endblock %}
