body {
    background-color: #009999;
}

#cardForm {
    background-color: white;
    width: 500px;
}

#cardForm .word {
    font-weight: bold;
}

#cardForm .ipa {
    font-style: italic;
}

#cardForm .definitions .definition {
    margin: 5px;
}

.field {
    margin-left: 2rem;
}
