/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

[x-cloak] {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

* {
    box-sizing: border-box;
}

nav {
    float: left;
    border: solid;
}

.cssNavButton {
    float: left;
}

body {
    background-color: #009999;
}

#cardForm {
    background-color: white;
    width: 425px;
    border: solid;
}

#cardForm .word {
    font-weight: bold;
}

#cardForm .ipa {
    font-style: italic;
}

#cardForm .definitions .definition {
    margin: 5px;
}

#selectedImage {
    border: solid;
    border-color: blue;
}

.unique-display {
    display: none;
}

.field {
    margin-left: 2rem;
}

select {
    width: 250px;
}
option {
    width: 250px;
}

.image {
    width: 100px;
    height: 100px;
}

.front {
    background-color: white;
}

.back {
    /* display: none; */
    background-color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalGridBox {
    display: grid;
    height: 100%;
    grid-template-rows: 20px auto auto 20px;
    grid-template-columns: 20px 50px auto auto auto auto auto auto auto auto 50px 20px;
}

/* Modal Content/Box */
.modal-content {
    grid-column: 4 / 10;
    grid-row: 2;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10%;
	margin-bottom: 10%;
    background-color: transparent;
    padding: 0px;
   /* border: 2px solid #888;*/

}

.result-content {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    padding: 25px;
    border: 1px solid #888;
	border-radius: 15px;
}

/* The Close Button */
.close {
    grid-column: 12;
    grid-row: 1;
  color: #f00;
  margin: 0px;
  margin-right: 2px;
  float: right;
  padding: 0px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
