{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Notemaker</title>
	<script src="https://unpkg.com/alpinejs" defer></script>
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous" defer></script>
  <script src="{% static 'notemaker/js/speakMessage.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'notemaker/css/ankicard.css' %}">
</head>

<body>
	<div x-data="cardQueueData()">
    {% include 'notemaker/dashboard_menu.html' %}
    <div id="modal" class="modal-content" x-show="reviewModalToggle" x-cloak>
      <span class="close" @click="reviewModalToggle = false">&times;</span>
      <div id="resultWindow" class="result-content">
      </div>
    </div>
	</div>

	<script>
		function cardQueueData() {
			return {
				reviewModalToggle: false,
				wordToEnterQuery: '',
				deleteCard(cardId) {
					let r = confirm("Are you sure you want to delete this card? (This action CANNOT be undone)");
					if (r === true) {
						fetch("{% url 'notemaker:ajax-delete-card' %}?card_id=" + cardId)
							.then(response => {
								if (response.status === 200) {
									console.log("Success!");
								} else {
									console.log(response);
								}
							})
							.catch((error) => console.log(error))
							.then(console.log("finished"));
					}
				},
				checkSubmission(event) {
					if (event.key === 'Enter') {
						this.reviewModalToggle = true;
            htmx.ajax(
              'GET',
              "{% url 'notemaker:htmx-generate-note' %}" + `?word=${this.wordToEnterQuery}`,
              {
                target: "#resultWindow",
              }
            )
					}
				},
			}
		}




	</script>

</body>

</html>
