{% load static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'notemaker/css/ankicard.css' %}">
</head>
<body>

<button id="startReview">Start Review</button><br>
<button id="addWordButton">Add Words</button><input type='text' id='boxu' class='unique-display' autofocus=''><br>
<button id="hardResetButton">Hard Reset</button>

<div id="resultModal" class="modal">
    <div id="modal" class="modal-content">
        <span class="close">&times;</span>
        <div id="resultWindow" class="modal-content">
            <span class="flashcard"></span>
        </div>
    </div>
</div>

<div id="holdingBay" style="display: block;">
</div>


<script src="{% static 'notemaker/js/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'notemaker/js/tts.js' %}"></script>
<script type="text/javascript" src="{% static 'notemaker/js/displayCard.js' %}"></script>

<script type="text/javascript">
function openModal(card){
    $("#resultModal").show();
}

function queueCards(cards){
    for (card of cards){
        let flashcard = new FlashCard(card);
        let h = flashcard.getHTML();
        $("#holdingBay").append(h);        
    }
    $("#resultWindow").html( "<span class='flashcard'></span>" );
    $( "#resultModal" ).trigger( "finish-card", [-1] );
    openModal();
}

$( document ).ready(function() {
    $("#resultModal").hide();
});

function startReview(){
    console.log("Starting review ;)");
    $( ".unique-display" ).hide();
    $.ajax({
        url: "{% url 'ajax-review-cards' %}",
        data: {'max_number': 10},
        dataType: 'json',
        success: function (data) {
            if (data['success'] === true){
                console.log( data['cards'] );
                queueCards(data['cards']);
            }
            else{
                $( "#resultWindow" ).html(data['message']);
                openModal();
            }
        }
    });   
}

function addWord(){
    $( "#boxu" ).show();
}

$("#startReview").click(function(){
    startReview();
});

$("#addWordButton").click(function(){
    addWord();
});

$("#hardResetButton").click(function(){
    $.ajax({
        url: "{% url 'api' %}",
        data: {'request': 'reset',
                'flags': ['hard',]},
        dataType: 'json',
        success: function (data) {
            console.log( data );
        }
    });   
});

$( document ).on('click', '.close', function(){
    $( "#resultModal" ).trigger('click')
});

$( document ).on('click', '#resultModal', function(event){
    event.stopPropagation();
    if (event.target.id == 'resultModal'){
        $(".modal").hide();
        $("#holdingBay").empty();
    };
});

$( document ).on('finish-card', '#resultModal', function(event, message){
    console.log(event);
    console.log(message);
    if (message == '9'){
        console.log("Skipping card");
        h = $("#resultWindow").html();
        $("#holdingBay").append(h); 
        $("#resultWindow").html( "<span class='flashcard'></span>" );
        $( "#resultModal" ).trigger( "finish-card", [-1] );
        openModal();
    }
    if ( $("#holdingBay span").first().length ){
        $("#resultWindow").find(".flashcard").replaceWith( $("#holdingBay span").first() );
    } else {
        $( "#resultModal" ).trigger('click')
    }
});

function drawCard(data){
    $("#resultWindow").html( data );
    openModal();
}

function viewNote(note_id){
    $.ajax({
        url: "{% url 'ajax-note-detail' %}",
        data: {'note_id': note_id},
        dataType: 'html',
        success: function (data) {
            $("#resultWindow").html( data );
        }
    });    
}

$( document ).on('change', '#boxu', function () {
    console.log("Boxu changed");
    $.ajax({
        url: "{% url 'ajax_anki_generate_note' %}",
        data: {
            'word': $(this).val()
        },
        dataType: 'html',
        success: function (data) {
            drawCard(data)
        }
    });
});

$( document ).on('click', '#cardButton', function(){
    console.log('Clicked');
    $.ajax({
        url: "{% url 'ajax_anki_create_note' %}",
        data: {'word': $("#cardForm .word").text(),
            'form': $( "form" ).serialize()
            },
        dataType: 'json',
        success: function (data) {
            viewNote(data['note_id']);
        }
    });
});

$( document ).on('click', '.image', function(){
    console.log('Selecting Image');
    $("input[name=selectedImg]").val($( this ).attr("value"))
    msg_text = $("input[name=selectedImg]").val();
    console.log(msg_text);
    
});




</script>

</body>
</html>


