{% load static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'notemaker/css/ankicard.css' %}">
</head>
<body>

<p>What French word would you like to multisearch? Type below, then press enter please.</p>
<input type="text" id="boxu" autofocus="">
<br><br><br>

<div id="site_selection">
</div>

<div id="resultModal" class="modal">
    <div id="modal" class="modal-content">
        <span class="close">&times;</span>
        <div id="resultWindow" class="modal-content">
            Card Not Loading
        <button id="cardButton">Test</button>
        </div>
    </div>
</div>


<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
<script src="{% static 'notemaker/js/jquery-3.1.0.min.js' %}"></script>
<!-- <script src="{% static 'notemaker/js/anki-display' %}"></script> -->
<script type="text/javascript">
function drawCard(data){
    $("#resultWindow").html( data );
    $("#resultModal").show();
}

function viewNote(note_id){
    $.ajax({
        url: "{% url 'ajax-note-detail' %}",
        data: {'note_id': note_id},
        dataType: 'html',
        success: function (data) {
            $("#resultWindow").html( data );
        }
    });    
}

$("#boxu").change(function () {
    $.ajax({
        url: "{% url 'ajax_anki_generate_note' %}",
        data: {
            'word': $(this).val()
        },
        dataType: 'html',
        success: function (data) {
            drawCard(data)
        }
    });
});

$( document ).ready(function() {
    let test_data = {
        'word': "test_word",
        'ipa': "ipa_test",
        'mp3_url': "mp3_url",
        'definitions': ["test_def", "test_def 2"],
        'examples': [{'source': 'source'}],
        'expressions': ['exp'],
        'images': ["iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==", ],
    };
    //drawCard(test_data);
});

$("#resultWindow").on('click', '#cardButton', function(){
    console.log('Clicked');
    $.ajax({
        url: "{% url 'ajax_anki_create_note' %}",
        data: {'word': $("#cardForm .word").text(),
            'form': $( "form" ).serialize()
            },
        dataType: 'json',
        success: function (data) {
            viewNote(data['note_id']);
        }
    });
});

$( document ).on('click', '.image', function(){
    console.log('Selecting Image');
    $("input[name=selectedImg]").val($( this ).attr("value"))
    msg_text = $("input[name=selectedImg]").val();
    console.log(msg_text);
    
});

$( document ).on('click', '.close', function(){
    $(".modal").hide();
});

$( ".modal" ).click(function(){
    $(".modal").hide();
});



</script>
<script type="text/javascript" src="{% static 'notemaker/js/tts.js' %}"></script>
Image Search Provided by: <img src="{% static 'notemaker/pixabay_logo_square.png' %}" height=50 width=50>




</body>
</html>


