{% load static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'notemaker/css/ankicard.css' %}">
</head>
<body>

<p>What French word would you like to multisearch? Type below, then press enter please.</p>
<input type="text" id="boxu" autofocus="">
<br><br>Select Sites to Search:<br>

<div id="site_selection">
</div>

<div id="result_window">
    Card Not Loading
    <button id="cardButton">Test</button>
</div>


<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
<script src="{% static 'notemaker/js/jquery-3.1.0.min.js' %}"></script>
<!-- <script src="{% static 'notemaker/js/anki-display' %}"></script> -->
<script type="text/javascript">
function drawCard(data){
    console.log(data);
    result_text = "<form id='cardForm'>";
    result_text += "<span class='word field'>" + data.word + "</span>  " +
        "<input type='checkbox' class='field' name='ipa_val' value='true'><span class='ipa'>/" + data.ipa + "/</span>";
    result_text += "<input type='checkbox'  class='field' name='mp3_url' value='" + data.mp3_url +"'><a class='mp3' msg='" + data.word + "' href='#'>&#128265;</a><br>";
    result_text += "<input type='checkbox'  class='field' name='grammar' value='" + data.grammar + "'><span class='grammar'>" + data.grammar + "</span><br><br>" +
        "<label class='field'>Definitions: <select class='definitions' name='def'>";
    for (let x=0; x<data.definitions.length; x++){
        result_text += "<option class='definition' name='def' value='"+x+"'>" + data.definitions[x]['definition'] + "</option>"
    }
    result_text += "</select></label><br><br><label class='field'>Examples: <select class='examples' name='example'>";
    for (let x=0; x<data.examples.length; x++){
        result_text += "<option class='example' name='example' value='"+x+"'>" + data.examples[x]['source'] + "</option>"
    }
    result_text += "</select></label><br><br>"
    result_text += "<label class='field'>Expressions: <select class='expressions' name='expression'>";
    for (let x=0; x<data.expressions.length; x++){
        result_text += "<option class='expression' name='expression' value='"+x+"'>" + data.expressions[x][
        'expression'] + "(" + data.expressions[x][
        'definition'] + ")</option>"
    }
    result_text += "</select></label><br><br>"
    result_text += "<span class='imgs'>Selected Image: <input name='selectedImg' size='1' value='0' readonly=true><br>"
    for (let x=0; x<data.images.length; x++){
        result_text += "<img value='"+x+"' class='image' src='data:image/jpg;base64, " + data.images[x] + "'>"
    }
    result_text += "</span>"
    result_text += "</form><button id='cardButton'>Submit</button>";

    $("#result_window").html( result_text );
}

$("#boxu").change(function () {
    $.ajax({
        url: "{% url 'ajax_anki_generate_note' %}",
        data: {
            'word': $(this).val()
        },
        dataType: 'json',
        success: function (data) {
            drawCard(data)
        }
    });
});

$( document ).ready(function() {
    var test_data = {
        'word': "test_word",
        'ipa': "ipa_test",
        'mp3_url': "mp3_url",
        'definitions': ["test_def", "test_def 2"],
        'examples': [{'source': 'source'}],
        'expressions': ['exp'],
        'images': ["iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==", ],
    };
    drawCard(test_data);
});

$("#result_window").on('click', '#cardButton', function(){
    console.log('Clicked');
    $.ajax({
        url: "{% url 'ajax_anki_create_note' %}",
        data: {'word': $("#cardForm .word").text(),
            'form': $( "form" ).serialize()
            },
        dataType: 'json',
        success: function (data) {
            console.log(data);
        }
    });
});

$( document ).on('click', '.image', function(){
    console.log('Selecting Image');
    $("input[name=selectedImg]").val($( this ).attr("value"))
    msg_text = $("input[name=selectedImg]").val();
    console.log(msg_text);
    
});



</script>
<script type="text/javascript" src="{% static 'notemaker/js/tts.js' %}"></script>
Image Search Provided by: <img src="{% static 'notemaker/pixabay_logo_square.png' %}" height=50 width=50>




</body>
</html>


