{% extends "base.html" %}

{% block content %}
<div class="message">
  <div class="message-header">
    Welcome to Storytime / Notemaker!
  </div>
  <div class="message-body">
    <p>You must be logged in to continue.</p>
    <br/>
    <a 
      href="{% url 'login' %}"
      class="button has-tooltip-right"
      data-tooltip="Log In"
    >
      Log In
    </a>
    <a 
      href="{% url 'signup' %}"
      class="button has-tooltip-right"
      data-tooltip="Sign Up"
    >
      Sign Up
    </a>
  </div>
</div>
{% endblock %}
