<div
  id='cardForm'
  x-data="{
    word: '{{ form.word.value|escapejs }}',
    ipa: '{{ form.ipa.value|escapejs }}',
    grammar: '{{ form.grammar.value|escapejs }}',
    definition: '{{ form.definition.value|escapejs }}',
    example: '{{ form.example.value|escapejs }}',
    expression: '{{ form.expression.value|escapejs }}',
    expression_meaning: '{{ form.expression_meaning.value|escapejs }}',
    image: '{{ form.image.value|escapejs }}',
    selectedExpression: '',
    selectedImage: 0
  }"
  x-init="$watch('selectedExpression', value => { expression = value.split(':::')[0]; expression_meaning = value.split(':::')[1];})"
>
  {% include "notemaker/utils/megaphone.html" with message=data.word %}
  <span class='word field title' x-text="word"></span>&emsp;
  /<span class='ipa subtitle' x-text="ipa"></span>/&emsp;&emsp;
  <span class='grammar' x-text="grammar"></span><br><br>

  <label class='field'>
    <h2 class="subtitle">Definitions</h2>
    <div class="select">
      <select class='definitions' name='def' x-model="definition">
        {% for def in data.definitions %}
          <option class='definition' name='def'>{{ def.definition }}</option>
        {% endfor %}
      </select>
    </div>
  </label><br><br>

  <label class='field'>
    <h2 class="subtitle">Examples</h2>
    <div class="select">
      <select class='examples' name='example' x-model="example">
        {% for example in data.examples %}
          <option class='example' name='example'>{{ example.source }}</option>
        {% endfor %}
      </select>
    </div>
  </label><br><br>
  
  <label class='field'>
    <h2 class="subtitle">Expressions</h2>
    <div class="select">
      <select class='expressions' name='expression' x-model="selectedExpression">
        {% for expression in data.expressions %}
          <option class='expression' name='expression' value="{{ expression.expression }}:::{{ expression.definition }}">{{ expression.expression }} ({{ expression.definition }})</option>
        {% endfor %}
      </select>
    </div>
  </label><br><br>

  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
    {% for img in data.images %}
    <div :style="'flex: 25%'" :class="{ 'has-background-success': {{ forloop.counter0 }} == selectedImage }">
      <figure class="image is-square">
        <img
          value='{{ forloop.counter0 }}'
          :id="{{ forloop.counter0 }} == selectedImage ? 'selectedImage' : 'image{{ forloop.counter0 }}'"
          :class="{ 'image': true, 'is-rounded': {{ forloop.counter0 }} == selectedImage }"
          :src='`data:image/jpg;base64, {{ img }}`'
          @click="selectedImage = {{ forloop.counter0 }}; image = '{{ img }}'" />
      </figure>
    </div>
  {% endfor %}
  </div>

  <form method="post">{% csrf_token %}
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.word.id_for_label }}">Word:</label>
      <input type="text" name="word" x-model="word" maxlength="50" required id="id_word">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.ipa.id_for_label }}">ipa:</label>
      <input x-model="ipa" type="text" name="ipa" maxlength="50" id="id_ipa">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.grammar.id_for_label }}">grammar:</label>
      <input x-model="grammar" type="text" name="grammar" maxlength="50" id="id_grammar">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.definition.id_for_label }}">definition:</label>
      <input x-model="definition" type="text" name="definition" maxlength="200" id="id_definition">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.example.id_for_label }}">example:</label>
      <input x-model="example" type="text" name="example" maxlength="200" id="id_example">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.expression.id_for_label }}">expression:</label>
      <input x-model="expression" type="text" name="expression" maxlength="200" id="id_expression">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.expression_meaning.id_for_label }}">expression_meaning:</label>
      <input x-model="expression_meaning" type="text" name="expression_meaning" maxlength="200" id="id_expression_meaning">
    </div>
    <div class="fieldWrapper" x-show='false' x-cloak>
      <label for="{{ form.image.id_for_label }}">image:</label>
      <textarea x-model="image" name="image" cols="40" rows="10" id="id_image"></textarea>
    </div>

    <input
      type="submit"
      value="Save"
      hx-post="{% url 'notemaker:htmx-generate-note' %}"
      hx-target="#cardForm"
      hx-swap="outerHTML"
      class="button is-success is-fullwidth"
      >
  </form>
</div>
