{% load static %}
<div class="level" x-show="flipped == false">
  <div class="level-left">
    <button class="button flipCard is-info" @click="flipped = !flipped"><span class="icon iconify" data-icon="mdi-orbit-variant"></span></button>
  </div>
  <div class="level-right">
    <div class="level">
      <div class="level-item has-text-centered">
        {% include 'notemaker/ratebar/skip_button.html' %}
      </div>
      <div class="level-item has-text-centered">
        {% include 'notemaker/ratebar/edit_button.html' %}
      </div>
      <div class="level-item has-text-centered">
        {% include 'notemaker/ratebar/delete_button.html' %}
      </div>
    </div>
  </div>
</div>

<div x-show="flipped" class="level">
  <div class="level-left">
    <div class="level">
      <div class="level-item has-text-centered">
        <button class="button flipCard is-info" @click="flipped = !flipped"><span class="icon iconify" data-icon="mdi-orbit-variant"></span></button>
      </div><div class="level-item hs-text-centered">
      <button class="button is-success"
        hx-target="closest .flashcard"
        hx-swap="outerHTML"
        hx-get="{% url 'notemaker:htmx-rate-card' card.id 1 %}"
      >Correct</button>
    </div><div class="level-item hs-text-centered">
      <button class="button is-info"
        hx-target="closest .flashcard"
        hx-swap="outerHTML"
        hx-get="{% url 'notemaker:htmx-rate-card' card.id 2 %}"
      >Easy</button>
    </div><div class="level-item hs-text-centered">
      <button class="button is-danger"
        hx-target="closest .flashcard"
        hx-swap="outerHTML"
        hx-get="{% url 'notemaker:htmx-rate-card' card.id 0 %}"
        hx-trigger="click"
      >Incorrect</button>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level">
      <div class="level-item has-text-centered">
        {% include 'notemaker/ratebar/skip_button.html' %}
      </div>
      <div class="level-item has-text-centered">
        {% include 'notemaker/ratebar/edit_button.html' %}
      </div>
      <div class="level-item has-text-centered">
        {% include 'notemaker/ratebar/delete_button.html' %}
      </div>
    </div>
  </div>
</div>
