{% load static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'notemaker/css/ankicard.css' %}">
</head>
<body>

<span class="singleWord">This</span> <span class="singleWord">is</span> <span class="singleWord">a</span> <span class="singleWord">test</span>.

<div id="story">This is a more complex dynamic test. With multiple sentences! I'm adding other punctuation, too. Just for funè.</div>

<div id="resultModal" class="modal">
    <div id="modal" class="modal-content">
        <span class="close">&times;</span>
        <div id="resultWindow" class="modal-content">
            <span class="flashcard"></span>
        </div>
    </div>
</div>

<div id="holdingBay" style="display: block;">
</div>


<script src="{% static 'notemaker/js/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'notemaker/js/tts.js' %}"></script>
<script type="text/javascript" src="{% static 'notemaker/js/displayCard.js' %}"></script>
<script type="text/javascript" src="{% static 'notemaker/js/createNote.js' %}"></script>

<script type="text/javascript">
function openModal(card){
    $("#resultModal").show();
};

function spanifyStory(){
    let text = "<span class='singleWord'>" + $("#story").text().replace(/[ ]/g, "</span> <span class='singleWord'>") + "</span>";
    $("#story").html(text);
    
};

$( document ).ready(function() {
    $("#resultModal").hide();
    spanifyStory();
});

$( document ).on('click', '.close', function(){
    $( "#resultModal" ).trigger('click')
});

$( document ).on('click', '#resultModal', function(event){
    event.stopPropagation();
    if (event.target.id == 'resultModal'){
        $(".modal").hide();
        $("#holdingBay").empty();
    };
});

$( document ).on('click', '.singleWord', function () {
    let word = $( this ).text().toLowerCase().replace(/[^a-zÀ-ú ']/gi, "");
    console.log("Word selected: \""+ word +"\"");
    /*$.ajax({
        url: "{% url 'ajax_anki_generate_note' %}",
        data: {
            'word': $(this).text()
        },
        dataType: 'html',
        success: function (data) {
            drawCard(data)
        }
    });*/
});




</script>

</body>
</html>


